img {
    height: 150px;
    width: 250px;
}

.flex-container {
    background-color: black;
    text-align: center;
    width: 100%;
}

.register-div {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80vw; 
    height: 80vh;
    position: relative;
}

.card-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d4af37;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: white;
    color: #d4af37;
}
